{% if page.layout == "post" %}
  {% if page.collection == "posts" %}
    <div class="navbar">
      <a class="btn navbtn back" href="/posts">&lt; All Posts</a>
      <a class="btn navbtn home" href="/">Home</a>
    </div>

  {% elsif page.collection == "projects" %}
    <div class="navbar">
      <a class="btn navbtn back" href="/projects">&lt; All Projects</a>
      <a class="btn navbtn home" href="/">Home</a>
    </div>
  {% endif %}

{% else %}
  <div class="navbar page">
    <a class="btn navbtn" href="/">Home</a>
    <a class="btn navbtn" href="/projects">Projects</a>
    <a class="btn navbtn" href="/posts">Posts</a>
    <a class="btn navbtn" href="/photog">Photos</a>
  </div>
{% endif %}