<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
<script src="/assets/js/scripts.js"></script>

{% if page.navtitle == 'about' %}
<script src="https://use.fontawesome.com/c78001d543.js"></script>
{% endif %}

{% if page.layout == 'photography' %}
  <script src="/assets/js/500px.js"></script>
  <script src="/assets/js/gallery.js"></script>
{% endif %}

<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(101095168);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101095168ns.gif" /></p></noscript>